In [1]:
!apt-get install -y -qq glpk-utils

Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.1.2-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-1_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-1) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-1_amd64.deb ...
Unpacking glpk-utils (4.65-1) ...
Setting up libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Setting up libcolamd2:amd64 (1:5.1.2-2) ...
Setting up libamd2:amd64 (1:5.1.2-2) ...
Setting up libglpk40:amd64 (4.65-1) ...
Setting up glpk-utils (4.65-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [2]:
!pip install -q pyomo

     |████████████████████████████████| 9.2 MB 5.1 MB/s
     |████████████████████████████████| 49 kB 5.5 MB/s

In [22]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 5.0 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [3]:
import pandas as pd
from pyomo.environ import *
from pyomo.opt import SolverFactory
from openpyxl import load_workbook

In [68]:
item=pd.read_excel(open('Birchbox_data.xlsx', 'rb'),
              sheet_name='item info')
item.head()

   Item  Category  ...  PurchaseProb_Seg_12  PurchaseProb_Seg_13
0     0         6  ...             0.113431             0.115416
1     1         7  ...             0.092646             0.099370
2     2         3  ...             0.098511             0.088675
3     3         2  ...             0.087837             0.182048
4     4         7  ...             0.093838             0.090770

[5 rows x 19 columns]

In [69]:
cust=pd.read_excel(open('Birchbox_data.xlsx', 'rb'),
              sheet_name='cust info')
cust.head()

   Cust #  Seg  Item 0  Item 1  ...  Item 107  Item 108  Item 109  Item 110
0       0    5       0       0  ...         0         0         0         0
1       1    4       0       0  ...         0         0         0         0
2       2    7       0       0  ...         0         0         0         1
3       3    0       0       1  ...         0         0         0         0
4       4    6       0       0  ...         0         1         0         0

[5 rows x 113 columns]

In [70]:
category= item['Category'].values.tolist() #indexed by item, i 
inventory=item['Inventory'].values.tolist()
sample_cost=item['Sample Cost'].values.tolist()
mip=item['Margin if Purchase'].values.tolist()
prob=item.iloc[:,5:].values.tolist() #indexed by item, i row-wise and segment columnwise

In [71]:
segment= cust['Seg'].values.tolist() #indexed by customer, j
past_send=cust.iloc[:,2:].values.tolist() #indexed by customer, j row-wise and item, i columnwise

In [74]:
#Part 1
#Declare a model 
model=ConcreteModel()
num_item=len(item) #indexed by i
num_cust=len(cust) #indexed by j 

#Declare DVs
model.x=Var(range(num_cust), range(num_item), domain=Binary)

#Set constraints
#5 items need to be sent to each customer
model.constraint1=ConstraintList()
for j in range(num_cust): 
   model.constraint1.add(expr= sum(model.x[j,i] for i in range(num_item)) == 5)

#You can't run out of inventory 
model.constraint2=ConstraintList()
for i in range(num_item):
  model.constraint2.add(expr= sum(model.x[j,i] for j in range(num_cust)) <= inventory[i])

#You can't send a customer a sample they have recieved 
model.constraint3=ConstraintList()
for i in range(num_item):
  for j in range(num_cust):
    model.constraint3.add(expr= model.x[j,i] + past_send[j][i]  <= 1)


#Define an objective
total_cost= None
total_margin=None 

for j in range(num_cust):
  total_cost+=sum(model.x[j,i]*sample_cost[i] for i in range(num_item))

for j in range(num_cust):
  k=segment[j]
  total_margin+=sum(model.x[j,i]*prob[i][k]*mip[i] for i in range(num_item))

model.Objective=Objective(expr= total_margin-total_cost, sense=maximize)

#Solve
opt=SolverFactory("glpk")
opt.options["mipgap"]=0.001 #tolerance
results=opt.solve(model)

#Save results into lists and print profit 
cust_sent=[]
item_sent = [[] for i in range(num_cust)]
for j in range(num_cust):
  cust_sent.append(j)
  for i in range(num_item):
    if model.x[j,i]() == 1.0:
      item_sent[j].append(i)

profit=model.Objective()
print("Profit is", profit)

Profit is 15957.657040005404

In [75]:
solution=pd.DataFrame()
solution['Customers']=cust_sent
solution['Items to be sent']=item_sent
solution.head()

   Customers       Items to be sent
0          0     [7, 9, 14, 34, 41]
1          1  [24, 51, 67, 94, 105]
2          2   [14, 30, 31, 41, 58]
3          3  [12, 22, 28, 55, 109]
4          4    [6, 22, 33, 60, 76]

In [76]:
#Save the solution as a new sheet in our excel file 
path = "/content/Birchbox_data.xlsx"
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

solution.to_excel(writer, sheet_name = 'solutionPart1')
writer.save()
writer.close()

In [77]:
#Part 2
#Update the inventory 
for j in range(num_cust):
  for i in range(num_item):
    if model.x[j,i]() == 1.0:
      inventory[i]-=1

#Update past_send matrix
for j in range(num_cust):
  for i in range(num_item):
    if model.x[j,i]() == 1.0:
      past_send[j][i]+=1

In [78]:
#Declare a model 
model=ConcreteModel()
num_item=len(item) #indexed by i
num_cust=len(cust) #indexed by j 

#Declare DVs
model.x=Var(range(num_cust), range(num_item), domain=Binary)

#Set constraints
#5 items need to be sent to each customer
model.constraint1=ConstraintList()
for j in range(num_cust): 
   model.constraint1.add(expr= sum(model.x[j,i] for i in range(num_item)) == 5)

#You can't run out of inventory 
model.constraint2=ConstraintList()
for i in range(num_item):
  model.constraint2.add(expr= sum(model.x[j,i] for j in range(num_cust)) <= inventory[i])

#You can't send a customer a sample they have recieved 


#Define an objective
total_cost= None
total_margin=None 

for j in range(num_cust):
  total_cost+=sum(model.x[j,i]*sample_cost[i] for i in range(num_item))

for j in range(num_cust):
  k=segment[j]
  total_margin+=sum(model.x[j,i]*prob[i][k]*mip[i] for i in range(num_item))

model.Objective=Objective(expr= total_margin-total_cost, sense=maximize)

#Solve
opt=SolverFactory("glpk")
opt.options["mipgap"]=0.001 #tolerance
results=opt.solve(model)

#Save results into lists
cust_sent2=[]
item_sent2 = [[] for i in range(num_cust)]
for j in range(num_cust):
  cust_sent2.append(j)
  for i in range(num_item):
    if model.x[j,i]() == 1.0:
      item_sent2[j].append(i)

profit2=model.Objective()
print("Profit is", profit2)

Profit is 12556.692033782416

In [79]:
solution2=pd.DataFrame()
solution2['Customers']=cust_sent2
solution2['Items to be sent']=item_sent2
solution2.head()

   Customers       Items to be sent
0          0     [8, 9, 41, 68, 88]
1          1   [24, 51, 67, 78, 94]
2          2    [4, 29, 31, 58, 88]
3          3  [1, 28, 55, 107, 109]
4          4    [6, 22, 33, 60, 87]

In [80]:
path = "/content/Birchbox_data.xlsx"
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

solution2.to_excel(writer, sheet_name = 'solutionPart2')
writer.save()
writer.close()