In [2]:
!apt-get install -y -qq glpk-utils

Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.1.2-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-1_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-1) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-1_amd64.deb ...
Unpacking glpk-utils (4.65-1) ...
Setting up libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Setting up libcolamd2:amd64 (1:5.1.2-2) ...
Setting up libamd2:amd64 (1:5.1.2-2) ...
Setting up libglpk40:amd64 (4.65-1) ...
Setting up glpk-utils (4.65-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [3]:
!pip install -q pyomo

     |████████████████████████████████| 9.2 MB 18.7 MB/s
     |████████████████████████████████| 49 kB 6.4 MB/s

In [21]:
pip install FPDF

Collecting FPDF
  Downloading fpdf-1.7.2.tar.gz (39 kB)
Building wheels for collected packages: FPDF
  Building wheel for FPDF (setup.py) ... done
  Created wheel for FPDF: filename=fpdf-1.7.2-py2.py3-none-any.whl size=40722 sha256=4c501392dbb31e28837b274eec8e034eb8288ec3f5708d5cc8595bcfa3594b25
  Stored in directory: /root/.cache/pip/wheels/d7/ca/c8/86467e7957bbbcbdf4cf4870fc7dc95e9a16404b2e3c3a98c3
Successfully built FPDF
Installing collected packages: FPDF
Successfully installed FPDF-1.7.2

In [22]:
import pandas as pd
import fpdf
from pyomo.environ import *
from pyomo.opt import SolverFactory

In [5]:
DCdata=pd.read_excel(open('P3_DCLocation.xlsx', 'rb'),
              sheet_name='DCdata')
DCdata.head()

         location  capacity  fixedcost
0          Durham     20655    3831700
1      Fort Wayne     11279    1848400
2  St. Petersburg     25376    2190000
3          Laredo     40169    1361300
4         Buffalo     25167    1312000

In [6]:
dc_loc=DCdata.iloc[:,0].values.tolist()
capacity=DCdata.iloc[:,1].values.tolist()
fixedcost=DCdata.iloc[:,2].values.tolist()

In [7]:
citydata=pd.read_excel(open('P3_DCLocation.xlsx', 'rb'),
              sheet_name='citydata')
citydata.head()

          city  demand
0     New York    8622
1  Los Angeles    3999
2      Chicago    2716
3      Houston    3284
4      Phoenix    1626

In [8]:
city_name=citydata.iloc[:,0].values.tolist()
demand=citydata.iloc[:,1].values.tolist()

In [9]:
distcost=pd.read_excel(open('P3_DCLocation.xlsx', 'rb'),
              sheet_name='distcost')
distcost.head()

       Unnamed: 0  New York  Los Angeles  ...  Toledo  Jersey City  Chula Vista
0          Durham      2693         1752  ...    2851         1936         3710
1      Fort Wayne      2690         2581  ...     294         1702         1341
2  St. Petersburg      2480         3128  ...     597         1730         3385
3          Laredo      5144         5693  ...    3431         5895         4124
4         Buffalo      3436         4475  ...    5761         4460         4240

[5 rows x 77 columns]

In [10]:
dist=distcost.iloc[:,1:].values.tolist()

In [34]:
#Declare a model 
model=ConcreteModel()
num_dc=len(DCdata) #indexed by i
num_city=len(citydata) #indexed by j 
big_m=100000

#Declare DVs
model.x=Var(range(num_dc), domain=Binary)
model.y=Var(range(num_dc),range(num_city),domain=NonNegativeReals)

#Set constraints
#Each DC has a capacity 
model.constraint1=ConstraintList()
for i in range(num_dc): 
   model.constraint1.add(expr= sum(model.y[i,j] for j in range(num_city)) <= capacity[i])

#Demand for each city must be met 
model.constraint2=ConstraintList()
for j in range(num_city):
  model.constraint2.add(expr= sum(model.y[i,j] for i in range(num_dc)) >= demand[j])

#If the DC does not exist, it cannot contribute
model.constraint3=ConstraintList()
for i in range(num_dc):
   model.constraint3.add(expr= sum(model.y[i,j] for j in range(num_city)) <= model.x[i]*big_m)

#Define an objective
model.Objective=Objective(expr=sum(model.x[i]*fixedcost[i]+ model.y[i,j]*dist[i][j] for i in range(num_dc) for j in range(num_city)), sense=minimize)

#Solve
opt=SolverFactory("glpk")
opt.options["mipgap"]=0.001 #tolerance
results=opt.solve(model)

dc_location=[]
for i in range(num_dc):
  if model.x[i]() == 1.0:
    dc_location.append(dc_loc[i])

optimum=model.Objective()

#for i in range(num_dc):
 # for j in range(num_city):
  #    if model.y[i,j]() != 0.0:
   #     print("Distribution Center:", dc_loc[i], "Quantity:", model.y[i,j]() ,"City:", city_name[j])
      
pdf = fpdf.FPDF(format='letter')
pdf.add_page()
pdf.set_font("Arial", size=12)
pdf.write(5, "The optimum cost is ")
pdf.write(5, str(model.Objective()))
pdf.ln()

for i in range(num_dc):
  for j in range(num_city):
    if model.y[i,j]() != 0.0:
      pdf.write(5,str(dc_loc[i]))
      pdf.write(5," distribution centre distributes ")
      pdf.write(5,str(model.y[i,j]()))
      pdf.write(5," units to ")
      pdf.write(5,str(city_name[j]))
      pdf.ln()


pdf.output("DClocation&Transportation.pdf")

''