In [1]:
!apt-get install -y -qq glpk-utils

Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 155113 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.1.2-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-1_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-1) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-1_amd64.deb ...
Unpacking glpk-utils (4.65-1) ...
Setting up libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Setting up libcolamd2:amd64 (1:5.1.2-2) ...
Setting up libamd2:amd64 (1:5.1.2-2) ...
Setting up libglpk40:amd64 (4.65-1) ...
Setting up glpk-utils (4.65-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [2]:
!pip install -q pyomo

     |████████████████████████████████| 9.2 MB 6.6 MB/s
     |████████████████████████████████| 49 kB 7.6 MB/s

In [3]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 10.8 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 2.3 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.27.1 yfinance-0.1.70

In [4]:
!wget -N -q "https://ampl.com/dl/open/ipopt/ipopt-linux64.zip"
!unzip -o -q ipopt-linux64

In [5]:
#Load python libraries
import numpy as np
import pandas as pd
from pyomo.environ import *
from pyomo.opt import SolverFactory
from openpyxl import load_workbook

#Load the data source
import yfinance as yf

In [6]:
#Set time period and interval 
per='5Y'
inter='1mo'

In [7]:
#Fetch data for companies of interest from yahoo finance 
#Information Technology 
tech=pd.DataFrame()
tc_list=["INFY.BO","HCLTECH.BO","TCS.BO","TECHM.BO","WIPRO.BO","RELIANCE.BO","LTI.BO","MPHASIS.BO","MINDTREE.BO","CIGNITI.BO"]
for i in range(len(tc_list)):
  tc_comp= yf.download(tickers=tc_list[i], period=per, interval=inter)
  tc_comp=tc_comp.dropna()
  tc_comp[tc_list[i]]=""
  for j in range(len(tc_comp)):
    tc_comp[tc_list[i]][j]=(tc_comp['Adj Close'][j]/tc_comp['Adj Close'][j-1])-1
  tech=pd.concat([tech,tc_comp[tc_list[i]]],axis=1)

tech = tech.iloc[1:60 , :]
tech.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                      INFY.BO HCLTECH.BO  ... MINDTREE.BO CIGNITI.BO
2017-04-01 00:00:00 -0.099334  -0.068782  ...    0.074602  -0.157662
2017-05-01 00:00:00  0.062595    0.06433  ...    0.125762  -0.181917
2017-06-01 00:00:00 -0.042274  -0.010123  ...   -0.029916   0.164179
2017-07-01 00:00:00  0.097422    0.04491  ...   -0.097531  -0.138105
2017-08-01 00:00:00 -0.094927  -0.030209  ...   -0.024658  -0.172472

[5 rows x 10 columns]

In [8]:
#Healthcare
health_care=pd.DataFrame()
hc_list=["APOLLOHOSP.BO","FORTIS.BO","LALPATHLAB.BO","TRABI.BO","NH.BO","CADILAHC.BO","WOCKPHARMA.BO","MEDINOV.BO","TEJNAKSH.BO","SUNPHARMA.BO","AUROPHARMA.BO",
         "CIPLA.BO","APLLTD.BO","DRREDDY.BO","IPCALAB.BO","STAR.BO","LAURUSLABS.BO","GRANULES.BO","NATCOPHARM.BO","TORNTPHARM.BO"]
for i in range(len(hc_list)):
  hc_comp= yf.download(tickers=hc_list[i], period=per, interval=inter)
  hc_comp=hc_comp.dropna()
  hc_comp[hc_list[i]]=""
  for j in range(len(hc_comp)):
    hc_comp[hc_list[i]][j]=(hc_comp['Adj Close'][j]/hc_comp['Adj Close'][j-1])-1
  health_care=pd.concat([health_care,hc_comp[hc_list[i]]],axis=1)

health_care = health_care.iloc[1:60 , :]
health_care.head()

[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                    APOLLOHOSP.BO FORTIS.BO  ... NATCOPHARM.BO TORNTPHARM.BO
2017-04-01 00:00:00      0.058115  0.223487  ...      0.086304     -0.085977
2017-05-01 00:00:00     -0.019847 -0.112094  ...      0.014727     -0.135518
2017-06-01 00:00:00      0.054506  -0.17148  ...      0.080758     -0.009108
2017-07-01 00:00:00     -0.014813 -0.039173  ...     -0.035181      0.089132
2017-08-01 00:00:00     -0.137908 -0.060032  ...     -0.263982     -0.086615

[5 rows x 20 columns]

In [9]:
#Financials
fin=pd.DataFrame()
fin_list=["AXISBANK.BO","HDFCBANK.BO","ICICIBANK.BO","BAJAJFINSV.BO","KOTAKBANK.BO","JMFINANCIL.BO","SBIN.BO","YESBANK.BO","IIFL.NS","PML.BO"]
for i in range(len(fin_list)):
  comp= yf.download(tickers=fin_list[i], period=per, interval=inter)
  comp=comp.dropna()
  comp[fin_list[i]]=""
  for j in range(len(comp)):
    comp[fin_list[i]][j]=(comp['Adj Close'][j]/comp['Adj Close'][j-1])-1
  fin=pd.concat([fin,comp[fin_list[i]]],axis=1)

fin = fin.iloc[1:60 , :]
fin.head()

[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                    AXISBANK.BO HDFCBANK.BO  ...   IIFL.NS    PML.BO
2017-04-01 00:00:00    0.038305     0.06923  ...  0.198776  0.235328
2017-05-01 00:00:00    0.009027    0.059138  ...  0.042105  -0.11091
2017-06-01 00:00:00    0.003695    0.011571  ...  0.216422 -0.031722
2017-07-01 00:00:00    0.005328     0.08652  ... -0.016361  0.258953
2017-08-01 00:00:00   -0.025595   -0.004682  ...   0.03778 -0.091333

[5 rows x 10 columns]

In [10]:
#Auto 
au=pd.DataFrame()
au_list=["ASHOKLEY.BO","TATAMOTORS.BO","EICHERMOT.BO","HEROMOTOCO.NS","M&M.BO","AMARAJABAT.BO","EXIDEIND.BO"]
for i in range(len(au_list)):
  au_comp= yf.download(tickers=au_list[i], period=per, interval=inter)
  au_comp=au_comp.dropna()
  au_comp[au_list[i]]=""
  for j in range(len(au_comp)):
    au_comp[au_list[i]][j]=(au_comp['Adj Close'][j]/au_comp['Adj Close'][j-1])-1
  au=pd.concat([au,au_comp[au_list[i]]],axis=1)

au = au.iloc[1:60 , :]
au.head()

[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                    ASHOKLEY.BO TATAMOTORS.BO  ... AMARAJABAT.BO EXIDEIND.BO
2017-04-01 00:00:00    0.010644     -0.017491  ...     -0.000225    0.027685
2017-05-01 00:00:00     0.10591      0.040192  ...     -0.016483   -0.001521
2017-06-01 00:00:00   -0.006878     -0.091768  ...     -0.041297   -0.042864
2017-07-01 00:00:00    0.168354      0.027746  ...     -0.004236    -0.01273
2017-08-01 00:00:00   -0.009031     -0.152756  ...     -0.063067   -0.089731

[5 rows x 7 columns]

In [11]:
au=pd.DataFrame()
au_list=["ASHOKLEY.BO","TATAMOTORS.BO","EICHERMOT.BO","HEROMOTOCO.NS","M&M.BO","AMARAJABAT.BO","EXIDEIND.BO"]
for i in range(len(au_list)):
  au_comp= yf.download(tickers=au_list[i], period=per, interval=inter)
  au_comp=au_comp.dropna()
  au_comp[au_list[i]]=""
  for j in range(len(au_comp)):
    au_comp[au_list[i]][j]=(au_comp['Adj Close'][j]/au_comp['Adj Close'][j-1])-1
  au=pd.concat([au,au_comp[au_list[i]]],axis=1)

au = au.iloc[1:60 , :]
au.head()

[*********************100%***********************]  1 of 1 completed

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                    ASHOKLEY.BO TATAMOTORS.BO  ... AMARAJABAT.BO EXIDEIND.BO
2017-04-01 00:00:00    0.010644     -0.017491  ...     -0.000225    0.027685
2017-05-01 00:00:00     0.10591      0.040192  ...     -0.016483   -0.001521
2017-06-01 00:00:00   -0.006878     -0.091768  ...     -0.041297   -0.042863
2017-07-01 00:00:00    0.168354      0.027746  ...     -0.004236    -0.01273
2017-08-01 00:00:00   -0.009031     -0.152756  ...     -0.063067   -0.089731

[5 rows x 7 columns]

In [12]:
#Write a function optimizes portofolio selection
def portfolio(threshold,sec1, sec2, sec3):
  df=pd.DataFrame()
  sectors=[sec1,sec2,sec3]
  
  for i in range(len(sectors)):
    if sectors[i]== "Healthcare":
      df=pd.concat([df,health_care],axis=1)
    if sectors[i]== "Tech":
      df=pd.concat([df,tech],axis=1)
    if sectors[i]== "Financials":
      df=pd.concat([df,fin],axis=1)
    if sectors[i]== "Auto":
      df=pd.concat([df,au],axis=1)

  data=df.values.tolist()  
  num_companies=len(df.columns) #indexed by i
  num_months=len(data) #indexed by j
  
  #Declare a model
  model=ConcreteModel()

  #Declare decision variables 
  model.x=Var(range(num_companies), domain=NonNegativeReals) # % contribution to portfolio
  model.y=Var(range(num_months),range(2),domain=NonNegativeReals) #pos-neg

  ret_month=[]
  for j in range(num_months):
    ret_month.append(sum(model.x[i]*data[j][i] for i in range(num_companies)))

  avg_return=sum(ret_month)/len(ret_month)
  dev=[]
  for j in range(num_months):
    dev.append(avg_return-ret_month[j]) 

  #Constraints
  #pos-neg
  model.constraint1=ConstraintList()
  for j in range(num_months):
    model.constraint1.add(expr= model.y[j,0]- model.y[j,1] == dev[j])

  #total percentage = 100%
  model.constraint2=Constraint(expr=sum(model.x[i] for i in range(num_companies))== 100)

  #threshold for MAD
  model.constraint3=Constraint(expr=sum(model.y[j,0]+model.y[j,1] for j in range(num_months))/num_months<= threshold)
  
  #more than 30% cannot be invested in one company 
  model.constraint4=ConstraintList()
  for i in range(num_companies):
    model.constraint4.add(expr=model.x[i]<=30)
  
  #Set Objective: Maximize returns 
  model.Objective=Objective(expr=sum(ret_month)/num_months, sense=maximize)
  
  #Solve
  opt=SolverFactory('glpk')
 #opt.options["mipgap"]=0.001 #tolerance
  results=opt.solve(model, tee=True)

  #Calculation for Sharpe ratio
  var=sum((model.y[j,0]()+model.y[j,1]())**2 for j in range(num_months))/num_months
  mad=sum(model.y[j,0]()+model.y[j,1]() for j in range(num_months))/num_months
  sharpe=model.Objective()/var**0.5

  print("Average Return is", round(model.Objective(),3), "%")
  print("Average MAD is", round(mad,3),"%")
  print("Average Variance is", round(var,3),"%")
  print("\nThe capital should be distributed as follows:")
  col_names = df.columns.values
  for i in range(num_companies):
    if model.x[i]()!=0: 
      print(round(model.x[i](),3),"% in",col_names[i])

  print("\n This investement has a Sharpe ratio of", round(sharpe,3))

In [13]:
portfolio(4,"Auto","Financials","Healthcare")

GLPSOL: GLPK LP/MIP Solver, v4.65
Parameter(s) specified in the command line:
 --write /tmp/tmp79dssup8.glpk.raw --wglp /tmp/tmpyvkc4ueq.glpk.glp --cpxlp
 /tmp/tmpssq3e_wf.pyomo.lp
Reading problem data from '/tmp/tmpssq3e_wf.pyomo.lp'...
99 rows, 156 columns, 2494 non-zeros
2991 lines were read
Writing problem data to '/tmp/tmpyvkc4ueq.glpk.glp'...
2829 lines were written
GLPK Simplex Optimizer, v4.65
99 rows, 156 columns, 2494 non-zeros
Preprocessing...
61 rows, 155 columns, 2456 non-zeros
Scaling...
 A: min|aij| =  1.498e-05  max|aij| =  1.000e+00  ratio =  6.675e+04
GM: min|aij| =  1.795e-02  max|aij| =  5.571e+01  ratio =  3.103e+03
EQ: min|aij| =  3.244e-04  max|aij| =  1.000e+00  ratio =  3.083e+03
Constructing initial basis...
Size of triangular part is 61
      0: obj =   1.569344982e+00 inf =   1.595e+03 (37)
     71: obj =   1.509068331e+00 inf =   0.000e+00 (0)
*   102: obj =   2.404806704e+00 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
Time used:   0.0 secs
Memory used: 0.6 Mb (587424 bytes)
Writing basic solution to '/tmp/tmp79dssup8.glpk.raw'...
264 lines were written
Average Return is 2.405 %
Average MAD is 4.0 %
Average Variance is 41.742 %

The capital should be distributed as follows:
12.267 % in HDFCBANK.BO
24.549 % in ICICIBANK.BO
15.62 % in BAJAJFINSV.BO
17.694 % in APOLLOHOSP.BO
4.118 % in TRABI.BO
2.275 % in MEDINOV.BO
3.187 % in TEJNAKSH.BO
18.395 % in CIPLA.BO
1.895 % in LAURUSLABS.BO

 This investement has a Sharpe ratio of 0.372